:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scrollbar-width: none;
}
body{
  background-image: url(./assets/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg);
  background-size: center cover;
}

.container{
  width: 100%;
  height: 100vh;

  display: flex;
  padding: 2vw;
  gap: 2vw;

  transition: height 0.3s ease;
}
.navButton{
  padding: 2vh 5vw;
  border-radius: 2vh;
  background-color: dimgray;
  border: 0;
}
.navButton:hover, .navButton:focus{
  background-color: rgb(47, 47, 47);
}
.display{
  min-width: 65vw;
  height: 100%;
  background-color: rgba(71, 68, 68, 0.95);
  padding: 2vw;
  border-radius: 2vw;

  overflow: hidden;
}
.sidebar{
  width: 100%;
  height: 100%;

  background-color: rgb(71, 68, 68,0.95);
  padding: 2vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

form{
  width: 100%;

  padding: 2vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: dimgray;
}
.hide{
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: none;
}
