:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scrollbar-width: none;
}

.container{
  width: 100vw;
  height: 100vh;

  background-color: white;

  display: flex;
  padding: 2vw;
  gap: 2vw;
}
.navButton{
  padding: 2vh 5vw;
  border-radius: 2vh;
  background-color: dimgray;
  border: 0;
}
.navButton:hover, .navButton:focus{
  background-color: rgb(47, 47, 47);
}
.display{
  min-width: 65vw;
  height: 100%;
  background-color: rgb(71, 68, 68);
  padding: 2vw;
  border-radius: 2vw;
}
.sidebar{
  width: 100%;
  height: 100%;

  background-color: rgb(71, 68, 68);
  padding: 2vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form{
  width: 100%;

  padding: 2vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: dimgray;
}
.hide{
  display: none;
}